
<div class="row">
  <div class="col-xs-12">
    <h1>Admins</h1>
  </div>
</div>

<div class="text-right">
  <%= link_to 'New Admin', {controller: 'admins', action: 'new'}, class: "btn btn-success" %>
  <%= link_to 'Log Out', destroy_admin_session_path, method: :delete, class: "btn btn-danger disable_click" %>
</div>

<table class="table table-striped" style="margin-top: 50px;" id="admins_table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Users Count</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.email %></td>
        <td><%= admin.users_count %></td>
        <td>
          <% if admin.id != current_admin.id %>
            <% if admin.id == current_admin.impersonating_id %>
              <%= link_to 'Stop Impersonation', {controller: 'admins', action: 'stop_impersonation'}, class: "btn btn-warning disable_click" %>
            <% else %>
              <%= link_to 'Impersonate', {controller: 'admins', action: 'impersonate', admin_id: admin.id}, method: :post, class: "btn btn-primary disable_click" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
