
<div class="row">
  <div class="col-xs-6">
    <h1><%= @current_group.name %> Users</h1>
  </div>
  <div class="col-xs-6 text-right" style="padding-top: 10px;">
    <h4>Last Updated: <%= @current_group.last_update.localtime.strftime("%e %b %Y %k:%M") %></h4>
  </div>
</div>

<div class="text-right">
  <% if current_admin.superadmin? %>
    <%= link_to 'Admins', {controller: 'admins', action: 'index'}, class: "btn btn-warning" %>
  <% end %>
  <%= link_to 'Refresh Stats', {controller: 'users', action: 'refresh_users'}, class: "btn btn-info disable_click refresh_users" %>
  <%= link_to 'Populate Users', {controller: 'users', action: 'populate_users'}, class: "btn btn-primary disable_click refresh_users" %>
  <%= link_to 'New User', {controller: 'users', action: 'new'}, class: "btn btn-success" %>
  <%= link_to 'Log Out', destroy_admin_session_path, method: :delete, class: "btn btn-danger disable_click" %>
</div>

<table class="table table-striped" style="margin-top: 50px;" id="users_table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Email</th>
      <th>Name</th>
      <th>Inbox Total</th>
      <th>Inbox Unread</th>
      <th>Last Change</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><img src="<%= user.profile_image_url %>" class="img-rounded" alt="<%= user.full_name %>" style="max-width: 64px; max-height: 64px;"/></td>
        <td><%= user.email %></td>
        <td><%= user.full_name %></td>
        <td><%= user.inbox_total %></td>
        <td><%= user.inbox_unread %></td>
        <td><%= user.updated_at.localtime.strftime("%e %b %Y %k:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
