<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-6">
          <h1>Users</h1>
        </div>
        <div class="col-xs-6 text-right" style="padding-top: 10px;">
          <h4>Last Updated: <%= @updated_time_string %></h4>
        </div>
      </div>

      <table class="table table-striped" style="margin-top: 50px;">
        <thead>
          <tr>
            <th>Image</th>
            <th>Email</th>
            <th>Name</th>
            <th>Inbox Total</th>
            <th>Inbox Unread</th>
            <th>Inbox Not Responded</th>
            <th>Last Change</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><img src="<%= user.profile_image_url %>" alt="<%= user.full_name %>"/></td>
              <td><%= user.email %></td>
              <td><%= user.full_name %></td>
              <td><%= user.inbox_total %></td>
              <td><%= user.inbox_unread %></td>
              <td><%= user.inbox_not_responded %></td>
              <td><%= user.updated_at.localtime.strftime("%e %b %Y %k:%M") %></td>
            </tr>
          <% end %>

          <tr>
            <td colspan="7" class="text-right"><%= link_to 'New User', action: 'new', controller: 'users' %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
