<h1>Users</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Email</th>
    <th>Name</th>
    <th>Inbox Total</th>
    <th>Inbox Unread</th>
    <th>Inbox Not Responded</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><img src="<%= user.profile_image_url %>" alt="<%= user.full_name %>"/></td>
      <td><%= user.email %></td>
      <td><%= user.full_name %></td>
      <td><%= user.inbox_total %></td>
      <td><%= user.inbox_unread %></td>
      <td><%= user.inbox_not_responded %></td>
    </tr>
  <% end %>
</table>
